*{
  box-sizing: border-box;
}
html{
  --brand-color-1: #238693;
  --brand-color-2: #133358;
  --brand-color-3: #c89;
  font-size: 62.5%;
}
body{
  margin: 0;
  font: 400 1.8rem/1.5 'PT Sans', sans-serif;
}
